
/* Typography */ 

html {
    font-family: 'Fira Sans', sans-serif; 
    color: darkslategray;
}

h1, h2, h3 {
    font-weight: 600; 
    color: #444;
}

p {
    font-weight: 300; 
    line-height: 18px; 
}
    
head {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Custom Font", sans-serif;
}
/* Layout */ 

.wrapper {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
  background-color: aqua;
  font-family: Arial, sans-serif;
}


.flex {
    display:flex;
    gap: 32px;  
}

#features > div {
    flex: 1; 
}

img {
    max-height: 300px; 
    width: auto; 
}

main section {
    padding: 60px 20px 0 20px; 
}

/* Question - 2*/
/*  A zebra striped pattern for the playlist table */

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: lightslategray;
}
  
th {
    background-color: #ddd;
    color: black;
}

/* Question-3 */
/* styling the links in the navigation*/

header nav {
    display: flex;
    gap: 30px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(148, 18, 18);
    background-color: #333;
    border-radius: 5px;
}

nav a:visited,
nav a:focus{
    background-color: green;
    color: white;
}
 
nav a:hover {
    background-color: lightgreen;
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

nav a:active {
    background-color: rgb(8, 57, 8) ;
    color: black;
}

/* Question 4 */
/*  other links contained on the page in order to enhance the design */

body a {
    color: darkgreen;
    text-decoration: none;
}
  
body a:hover {
    text-decoration: underline;
}

/* Question 5 */
/* Style the ordered and unordered lists contained on the page in order to enhance the Ul */

ul {
    list-style-type: square;
    padding-left: 20px;
}
  
ol {
    list-style-type: decimal;
    padding-left: 20px;
}
  
li {
    margin-bottom: 10px;
}

